/* ==UserStyle==
@name         Anitaku.styl
@description  Customizable dark and light theme for Instagram.
@preprocessor stylus
@version      2.9.1
@license      MIT
==/UserStyle== */


i       = !important

@-moz-document regexp('^https?://(www\.)?anitaku\.\w{2,3}(/.*)?$') {
    note ?= 'Stylus CSS @name is \A\A'
    note += '🌚 anitaku.styl'
			
		* {
		font-size: 18px i;
		}


        .uo5MA {
            &, > div:nth-child(1) {
                box-shadow: bsh i;
                border: 1px solid bd;
                c: 0 0 bg;
            }
            > div:nth-child(2) { c: 0 0 bg }
            > div:nth-child(3) { rad: 0 0 6px 6px }
            /// Navbar -> Follower suggestions.
            .DPiy6 { c: 0 0 t }
        }

