/* ==UserStyle==
@name         Pornhub CSS
@description  My custom Pornhub theme
@author       SnakeJuice
@homepageURL  https://raw.githubusercontent.com/Snakejuice87/Css-Js-for-sites/main/Pornhub.user.css.styl
==/UserStyle== */

/* @-moz-document regexp('^https?://(www\.)?pornhub\.com(/.*)?$')
{
	:root {
		--t: transparent !important;
		--ui-font: "font_name", -apple-system, BlinkMacSystemFont, "Segoe UI",
			Roboto, Helvetica, Arial, Ubuntu, Cantarell, "Noto Sans",
			var(--emoji-font), sans-serif;
		--white: #fff;
		--dark: #1f232a;
		--darken: #252a33;
		--darker: #333943;
		--light: #e9e9e9;
		--lighter: #a1a1a1;
		--accent: #7289da;
		--shadow: rgba(0, 0, 0, 0.145);
		--yellow: #e5c512;
		--orange: #df4b16;
		--red: #dc322f;
		--magenta: #f33682;
		--violet: #6c71c4;
		--blue: #268bd2;
		--cyan: #2aa198;
		--green: #859900;
	}
	::-webkit-scrollbar {
		width: 0.5em;
	}
     }
	.span {
		font-size: 12pt;
		text-transform: none;
	}
	.ad-link {
		display: none;
	}
	.videos {
		padding-top: 20px;
		zoom: 1.15;
		font-size: xx-small;
	}
	.section-relateds {
		font-size: xx-small;
	}
	ul.videos li .wrap .thumbnail-info-wrapper span.title {
		display: block;
		margin-bottom: 3px;
		max-height: 35px;
		font-size: 12px;
		font-weight: 400;
		overflow: hidden;
		line-height: 17px;
	}
	html.supportsGridLayout
		#main-container
		#vpContentContainer:not(.premiumLocked) {
		display: grid;
		justify-content: center;
		align-content: center;
		grid-column-gap: 19px;
		grid-template-columns: 658px 325px;
	}
	#main-container #hd-rightColVideoPage {
		float: right;
		width: 371px;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-perspective: 1000;
*//*
%%%%%%%%%%%%%%%%%%%
*//*


/ ==UserStyle==
@name         Pornhub CSS
@description  My custom Pornhub theme
@author       SnakeJuice
@homepageURL  https://github.com/
==/UserStyle== /

@-moz-document regexp('^https?://(www\.)?pornhub\.com(/.*)?$')
{
	:root {
		--t: transparent !important;
		--ui-font: "font_name", -apple-system, BlinkMacSystemFont, "Segoe UI",
			Roboto, Helvetica, Arial, Ubuntu, Cantarell, "Noto Sans",
			var(--emoji-font), sans-serif;
		--white: #fff;
		--dark: #1f232a;
		--darken: #252a33;
		--darker: #333943;
		--light: #e9e9e9;
		--lighter: #a1a1a1;
		--accent: #7289da;
		--shadow: rgba(0, 0, 0, 0.145);
		--yellow: #e5c512;
		--orange: #df4b16;
		--red: #dc322f;
		--magenta: #f33682;
		--violet: #6c71c4;
		--blue: #268bd2;
		--cyan: #2aa198;
		--green: #859900;
	}
	::-webkit-scrollbar {
		width: 0.5em;
	}
	*.span {
		font-size: 12pt;
		text-transform: none;
	}
	.ad-link {
		display: none;
	}
	.videos {
		padding-top: 20px;
		zoom: 1.15;
		font-size: xx-small;
	}
	.section-relateds {
		font-size: xx-small;
/ ==UserStyle==
@name         Pornhub CSS
@description  My custom Pornhub theme
@author       SnakeJuice
@homepageURL  https://github.com/
==/UserStyle== /


*//*
%%%%%%%%%%%%%%%%%%%
*//*



@-moz-document regexp('^https?://(www\.)?pornhub\.com(/.*)?$')
{
	:root {
		--t: transparent !important;
		--ui-font: "font_name", -apple-system, BlinkMacSystemFont, "Segoe UI",
			Roboto, Helvetica, Arial, Ubuntu, Cantarell, "Noto Sans",
			var(--emoji-font), sans-serif;
		--white: #fff;
		--dark: #1f232a;
		--darken: #252a33;
		--darker: #333943;
		--light: #e9e9e9;
		--lighter: #a1a1a1;
		--accent: #7289da;
		--shadow: rgba(0, 0, 0, 0.145);
		--yellow: #e5c512;
		--orange: #df4b16;
		--red: #dc322f;
		--magenta: #f33682;
		--violet: #6c71c4;
		--blue: #268bd2;
		--cyan: #2aa198;
		--green: #859900;
	}
	::-webkit-scrollbar {
		width: 0.5em;
	}
	*.span {
		font-size: 12pt;
		text-transform: none;
	}
	.ad-link {
		display: none;
	}
	.videos {
		padding-top: 20px;
		zoom: 1.15;
		font-size: xx-small;
	}
	.section-relateds {
		font-size: xx-small;
	}
	ul.videos li .wrap .thumbnail-info-wrapper span.title {
		display: block;
		margin-bottom: 3px;
		max-height: 35px;
		font-size: 12px;
		font-weight: 400;
		overflow: hidden;
		line-height: 17px;
	}
	html.supportsGridLayout
		#main-container
		#vpContentContainer:not(.premiumLocked) {
		display: grid;
		justify-content: center;
		align-content: center;
		grid-column-gap: 19px;
		grid-template-columns: 658px 325px;
	}
	#main-container #hd-rightColVideoPage {
		float: right;
		width: 371px;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-perspective: 1000;
		-moz-perspective: 1000;
		-ms-perspective: 1000;
		perspective: 1000;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	html.supportsGridLayout.fluidContainer
		#main-container
		#vpContentContainer:not(.premiumLocked) {
		grid-template-columns: minmax(0, 1fr) 340px;
	}
	html.supportsGridLayout.fluidContainer .container,
	html.supportsGridLayout.fluidContainer .section_wrapper {
		min-width: 1101px;
		max-width: 1323px;
		width: 100%;
	}
	.container,
	.section_wrapper {
		width: 1220px;
		margin: 10px 5px 10px 30px;
	}
	.inlineFree {
		text-transform: none;
	}
	.t1hw8br .t1hw8bu .hd .clear {
		height: 0px;
	}
}
