/* ==UserStyle==
@name         Patreon Dark Theme
@version      20221125.12.33
@namespace    userstyles.world/user/darkissou
@description  A simple dark theme for Patreon. Work in progress
@author       darkissou
@license      No License
==/UserStyle== */

@-moz-document url-prefix("https://www.patreon.com") {
/* ==UserStyle==
@name           Patreon Dark Theme
@namespace      github.com/openstyles/stylus
@author         Darkuwu#2946
@description    `A simple dark theme for Patreon.`
@version        1.0
==/UserStyle== */

    :root {
        --global-bg-page-default: #282828;
        --global-bg-pageAlt-default: #222222;
        --global-bg-base-default: #222222;
        --global-bg-base-hover: #282828;
        --global-bg-base-pressed: #333333;
        --global-bg-baseAlt-default: #282828;
        --global-bg-baseAlt-hover: #E6E9F0;
        --global-bg-baseAlt-pressed: #D8DCE5;
        --global-bg-elevated-default: #222222;
        --global-bg-elevated-hover: #282828;
        --global-bg-elevated-pressed: #333333;
        --global-content-regular-default: #ddd;
        --global-content-regular-hover: rgb(170, 170, 170);
        --global-content-regular-pressed: rgb(125, 125, 125);
        --global-content-muted-default: #aaa;
        --global-content-muted-hover: #ddd;
        --global-content-muted-pressed: #ddd;
        --global-content-inverted-default: rgba(250,251,255,0.98);
        --global-content-inverted-hover: rgba(246,248,254,0.94);
        --global-content-inverted-pressed: rgba(241,244,253,0.9);
        --global-content-invertedMuted-default: rgba(233,237,252,0.7);
        --global-content-invertedMuted-hover: rgba(237,241,253,0.84);
        --global-content-invertedMuted-pressed: rgba(241,244,253,0.9);
        --global-constant-white-default: #FFFFFF;
        --global-constant-white-hover: rgba(255,255,255,0.96);
        --global-constant-white-pressed: rgba(255,255,255,0.9);
        --global-constant-whiteMuted-default: rgba(255,255,255,0.66);
        --global-constant-whiteMuted-hover: rgba(255,255,255,0.8);
        --global-constant-whiteMuted-pressed: rgba(255,255,255,0.86);
        --global-constant-whiteSubtle-default: rgba(255,255,255,0.18);
        --global-constant-whiteSubtle-hover: rgba(255,255,255,0.34);
        --global-constant-whiteSubtle-pressed: rgba(255,255,255,0.5);
        --global-constant-black-default: #000000;
        --global-constant-black-hover: rgba(0,0,0,0.9);
        --global-constant-black-pressed: rgba(0,0,0,0.82);
        --global-constant-blackMuted-default: rgba(0,0,0,0.5);
        --global-constant-blackMuted-hover: rgba(0,0,0,0.66);
        --global-constant-blackMuted-pressed: rgba(0,0,0,0.82);
        --global-constant-blackSubtle-default: rgba(0,0,0,0.14);
        --global-constant-blackSubtle-hover: rgba(0,0,0,0.2);
        --global-constant-blackSubtle-pressed: rgba(0,0,0,0.34);
        
        --global-warning-muted-default: #605022;
        --global-critical-muted-default: #2f2a2b;
        --global-critical-muted-hover: #443435;
        --global-critical-muted-pressed: #603B3E;
        
    }

    html {
        background-color: #222222    
    }

    body {
        background-color: #282828;
    }

    .frJbNq {
        background-color: #222222;    
    }

    .fcuosE {
        background-color: #222222;
        border-bottom: 1px solid #282828;
    }

    .hoVuLK {
        color: #ddd;
    }

    .fDPnWT {
        color: #bbb;
    }

    .elAndz {
        color: #bbb;
    }

    .cupyBO {
        color: rgb(255, 66, 77);
    }

    .slvOM {
        color: #888888;
    }

    .iimCQQ {
        color: #ddd;
    }

    .edaHMc {
        color: #aaa;
    }

    #component-playground, .reactWrapper {
        color: #ddd
    }

    .jLYBpW {
        background-color: #222222;
    }

    .ibpkHY {
        background-color: #242424;
    }
